<div class="col-xl-12 order-xl-1 d-flex justify-content-center mt-4" *ngIf="userinfo !== null">
  <div class="card col-8 pl-0 pr-0">
    <div class="card-header card-header-purple border-0">
      <div class="row align-items-center">
        <div class="col-12 text-center ">
          <h3 class="mb-0 text-white ">My account</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
        <h6 class="heading-small text-muted mb-4">User information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">First name</label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" [(ngModel)]="first_name" name="first_name" placeholder="First name" value="{{userinfo.first_name}}">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Last name</label>
                <input type="text" id="input-last-name" class="form-control form-control-alternative" [(ngModel)]="last_name" name="last_name" placeholder="Last name" value="{{userinfo.last_name}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Age</label>
                <input type="number" id="input-first-name" class="form-control form-control-alternative" [(ngModel)]="age" name="age" placeholder="First name"value="{{userinfo.age}}">
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <!-- Address -->
        <h6 class="heading-small text-muted mb-4">Contact information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-city">City</label>
                <input type="text" id="input-city" class="form-control form-control-alternative"  [(ngModel)]="city" name="city" placeholder="City" value="{{userinfo.city}}">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-country">Country</label>
                <input type="text" id="input-country" class="form-control form-control-alternative" [(ngModel)]="country" name="country" placeholder="Country" value="{{userinfo.country}}">
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <!-- Description -->
        <h6 class="heading-small text-muted mb-4">About me</h6>
        <div class="pl-lg-4">
          <div class="form-group">
            <label>Hobbies</label>
            <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="hobbies" name="hobbies" placeholder="A few words about you ...">{{userinfo.hobbies}}</textarea>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="form-group">
            <label>About Me</label>
            <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="description" name="description" placeholder="A few words about you ...">{{userinfo.hobbies}}</textarea>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="form-group">
            <label>Studied At</label>
            <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="education" name="education" placeholder="A few words about you ...">{{userinfo.education}}</textarea>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="form-group">
            <label>Work</label>
            <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="work" name="work" placeholder="A few words about you ...">{{userinfo.work}}</textarea>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="form-group">
            <label>Banner Message</label>
            <textarea rows="4" class="form-control form-control-alternative"  [(ngModel)]="bannerMessage" name="bannerMessage" placeholder="A few words about you ...">{{userinfo.bannerMessage}}</textarea>
          </div>
        </div>
        <div class="text-center">
          <button type="button" (click)="openProfile()" class="btn btn-primary my-4">Set profile Pic</button>
        </div>
        <div class="text-center">
          <button type="button" (click)="openBanner()" class="btn btn-primary my-4">Set banner Pic</button>
        </div>
        <div class="text-center">
          <button type="button" (click)="updateInfo()" class="btn btn-primary my-4">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
