<div class="col-xl-12 order-xl-1 d-flex justify-content-center mt-4" *ngIf="userinfo !== null">
  <div class="card col-8 pl-0 pr-0">
    <div class="card-header card-header-purple border-0">
      <div class="row align-items-center">
        <div class="col-12 text-center ">
          <h3 class="mb-0 text-white ">Create Survey</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Your Question</label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative"
                  [(ngModel)]="question" name="first_name" placeholder="What do you want to ask?">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-dayCounts">Days Available</label>
                <input type="number" min="1" max="30" id="input-dayCounts" class="form-control form-control-alternative"
                  [(ngModel)]="dayCounts" name="dayCounts" placeholder="How many day is gonna be Active?">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div>
                <button type="button" (click)="openPic()" class="btn btn-primary my-4">Add Picture</button>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group" *ngFor="let item of answers;let i = index" [attr.data-index]="i">
              <label class="form-control-label" for="input-last-name">Answer  {{i+1}}</label>
              <input type="text" (change)="getAnswer($event,i)" class="form-control form-control-alternative"
                [(ngModel)]="item.answer" name="Answer{{i}}">
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <button type="button" (click)="addAnswer()" class="btn btn-primary my-4">Add Answer</button>
              <button type="button" (click)="deleteAnswer()" class="btn btn-primary my-4 ml-2">Delete Answer</button>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="button" (click)="uploadVote()" class="btn btn-primary my-4">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
