<div *ngIf="user === null" class="header pb-8 pt-5 pt-lg-8 rounded-lg d-flex align-items-center mb-4" style="min-height: 600px; background-image: url(assets/img/brand/OpinionPublica.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask user-banner"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center text-center">
    <div class="row w-100">
      <div class="col-12">
        <h1 class="display-2 text-white">Welcome to UrChoice</h1>
        <p class="text-white mt-0 mb-5">Get your voice to be know about anything you want to know</p>
        <a href="/register" class="btn btn-primary my-4">Get Started</a>
      </div>
    </div>
  </div>
</div>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 mb-4" *ngIf="user !== null">
  <div class="container-fluid d-flex align-items-center text-left mt-5">
    <div class="row w-100">
      <div class="col-12">
        <h1 class="display-2">Recent Surveys</h1>
      </div>
    </div>
  </div>
  <div class="align-content-center pl-5 pr-5 mt-2">
    <ngb-carousel *ngIf="recentSurveysCarrousel" class="ml-5 mr-5">
      <ng-template ngbSlide *ngFor="let item of recentSurveysCarrousel" >
        <ng-container >
          <div *ngIf="item.picUrl == ''"class="picsum-img-wrapper cardPointer" (click)='gotoSurvey(item)' style="background-size: cover; background-image: url(https://firebasestorage.googleapis.com/v0/b/urchoice-fcbcd.appspot.com/o/Assets%2FquestionCarrousel.jpg?alt=media&token=41bc361f-eceb-414a-ab1e-462622e97b0b); height: 500px; background-position: center;">
          </div>
          <div *ngIf="item.picUrl != ''" class="picsum-img-wrapper cardPointer" (click)='gotoSurvey(item)' style="background-size: cover; background-image: url({{item.picUrl}}); height: 500px; background-position: center;">
          </div>
          <div class="carousel-caption">
            <h2 class="card-title text-uppercase text-muted mb-0">Question</h2>
            <span class="h2 font-weight-bold mb-0">{{item.cardTitle}}</span>
            <h2 class="card-title text-uppercase text-muted mb-0 mt-3">Users Voted</h2>
            <span class="h2 font-weight-bold mb-0">{{item.subtitle}}</span>
          </div>
        </ng-container>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="header bg-gradient-danger pb-8 pt-1 pt-md-8 mb-4" *ngIf="user !== null">
    <div class="container-fluid d-flex align-items-center text-left mt-5">
      <div class="row w-100">
        <div class="col-12">
          <h1 class="display-2">Recent Surveys</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="header-body">
        <div class="row" *ngIf="recentSurveys !== []">
          <div class="col-xl-3 col-lg-3 pl-0 pr-0 ml-4 mt-3" *ngFor="let item of recentSurveys">
            <app-dashboard-card class="cardPointer " [card]='item' (click)='gotoSurvey(item)'>
            </app-dashboard-card>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid d-flex align-items-center text-left mt-5">
      <div class="row w-100">
        <div class="col-12">
          <h1 class="display-2">High Active Surveys</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="header-body">
        <div class="row" *ngIf="highSurveys !== []">
          <div class="col-xl-3 col-lg-4 pl-0 pr-0 ml-4 mt-3" *ngFor="let item of highSurveys">
            <app-dashboard-card class="cardPointer" [card]='item' (click)='gotoSurvey(item)'>
            </app-dashboard-card>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid d-flex align-items-center text-left mt-5">
      <div class="row w-100">
        <div class="col-12">
          <h1 class="display-2">Your Active Surveys</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="header-body">
        <div class="row" *ngIf="Usersurveys !== []">
          <div class="col-xl-3 col-lg-4 pl-0 pr-0 ml-4 mt-3" *ngFor="let item of Usersurveys">
            <app-dashboard-card class="cardPointer" [card]='item' (click)='gotoSurvey(item)'>
            </app-dashboard-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Sales value</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Vote Count</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Question</th>
                <th scope="col">Votes</th>
                <th scope="col">Unique users</th>
                <th scope="col">Bounce rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Should i buy a new Phone?
                </th>
                <td>
                  4,569
                </td>
                <td>
                  340
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Does this dress looks perfect for me?
                </th>
                <td>
                  3,985
                </td>
                <td>
                  319
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  I this serie in netflix good?
                </th>
                <td>
                  3,513
                </td>
                <td>
                  294
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Should i go to this restaurant?
                </th>
                <td>
                  2,050
                </td>
                <td>
                  147
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Social traffic</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Referral</th>
                <th scope="col">Visitors</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  1,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  5,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Google
                </th>
                <td>
                  4,807
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">80%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Instagram
                </th>
                <td>
                  3,678
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">75%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  twitter
                </th>
                <td>
                  2,645
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">30%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

