<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 mb-4" *ngIf="user !== null && survey !== null">
  <div class="col-xl-12 order-xl-1 d-flex justify-content-center mt-4">

    <div class="card col-11 pl-0 pr-0">
      <div class="card-body">
        <form>
          <h1 class="heading-small text-muted mb-4">{{survey.question}}</h1>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let answer of survey.answers"
                    [value]="answer.answer" (change)="radioChange($event,answer)">
                    {{answer.answer}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-lg-6">
                <img class="imgSize" src="{{survey.picUrl}}" alt="">
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <div class="text-center">
            <button type="button" [disabled]="voteDisabled" (click)="vote()" class="btn btn-primary my-4">Vote</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
