<div class="card card-stats mb-4 mb-xl-0 cardSize">
    <div class="card-body pt-0 pb-0 pr-0">
        <div class="row h-100">
            <div class="col-6 mt-4">
                <h5 class="card-title text-uppercase text-muted mb-0">Question</h5>
                <span class="h2 font-weight-bold mb-0">{{card.cardTitle}}</span>
                <h5 class="card-title text-uppercase text-muted mb-0 mt-3">Users Voted</h5>
                <span class="h2 font-weight-bold mb-0">{{card.subtitle}}</span>
            </div>
            <div class="col-6" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/urchoice-fcbcd.appspot.com/o/Assets%2FquestionCarrousel.jpg?alt=media&token=5381548f-b24c-4dfc-9f7b-50f6180071da); background-size: cover;">
            </div>
        </div>
    </div>
</div>