<nav class="navbar navbar-expand-lg shadow bg-white pb-0 pt-0" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="logo mt-4 mr-2" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="assets/img/brand/urChoiceIcon.png" class="img-fluid"/>
    </a>
    <a class="h4 mb-0 text-uppercase d-none d-lg-inline-block" routerLinkActive="active"
      [routerLink]="['/dashboard']">{{getTitle()}}</a>
    <!-- Form -->
    <form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text" (change)='search($event.target.value)'>
        </div>
      </div>
    </form>
    <ul class="navbar-nav ml-4 linkColor">
      <li class="nav-item">
        <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/vote/add-vote']">
          <i class="ni ni-fat-add"></i>
          <span class="nav-link-inner--text">Create Survey</span>
        </a>
      </li>
    </ul>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex" *ngIf="userinfo !== null">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" *ngIf="userinfo !== undefined && userinfo.photoURL !== null"
                src="{{userinfo.photoURL}}">
              <img alt="Image placeholder" *ngIf=" userinfo === undefined || userinfo.photoURL === null"
                src="https://www.dovercourt.org/wp-content/uploads/2019/11/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.jpg">
            </span>
            <div class="media-body ml-2 d-none d-lg-block"
              *ngIf="userinfo !== undefined && userinfo.first_name !== null  && userinfo.last_name !== null">
              <span class="mb-0 text-sm  font-weight-bold">{{userinfo.first_name}} {{userinfo.last_name}}</span>
            </div>
            <div class="media-body ml-2 d-none d-lg-block"
              *ngIf="userinfo === undefined || (userinfo.first_name === null && userinfo.last_name === null) ">
              <span class="mb-0 text-sm  font-weight-bold">Profile</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/dashboard']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/dashboard']" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/dashboard']" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>