<div class="header bg-purple py-7 py-lg-8 mt-4">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="">Welcome! Feel Free To Register</h1>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card register-card shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-white text-center mt-2 mb-4"><small>Sign up with</small></div>
            <div class="text-center">
              <a (click)="loginGoogle()" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-white mb-4">
              <small>Or sign up with credentials</small>
            </div>
            <form role="form" >
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="email" placeholder="Email" name="email" type="email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Password" [(ngModel)]="password" type="password" name="password">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="first_name" placeholder="FirstName" name="firstname" >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="last_name" placeholder="LastName" name="lastname">
                </div>
              </div>
              <div class="row my-4">
                <div class="col-12">
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                    <label class="custom-control-label" for="customCheckRegister">
                      <span class="text-white">I agree with the <a href="#!">Privacy Policy</a></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button"  class="btn btn-primary mt-4" (click)="signUp()">Create account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
