<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 mb-4" *ngIf="user !== null && survey !== null">
  <div class="col-xl-12 order-xl-1 d-flex justify-content-center mt-4">
    <div class="card col-11 pl-0 pr-0">
      <div class="card-body">
        <form>
          <h1 class="heading-small text-muted mb-4">{{survey.question}}</h1>
          <div class="row">
            <div class="pl-lg-4 col-6">
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="card-title text-uppercase text-muted mb-0">Status</h5>
                  <span class="h2 font-weight-bold mb-0">{{survey.status}}</span>
                  <h5 class="card-title text-uppercase text-muted mb-0 mt-3">Users Voted</h5>
                  <span class="h2 font-weight-bold mb-0">{{survey.usersVoted}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12" *ngFor="let item of survey.answers">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{item.answer}}</h5>
                  <span class="h2 font-weight-bold mb-0">Users that voted: {{item.votes}}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <img class="imgSize" src="{{survey.picUrl}}" alt="">
            </div>
          </div>
          <hr class="my-4" />
          <div class="text-center" *ngIf="user.uid === survey.owner">
            <button type="button" [disabled]="disable" (click)="endVote()" class="btn btn-primary my-4">Disable Survey</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-7 pl-5 pr-5">
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Total Votes</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
